langchain==0.3.14
langchain-community==0.3.14
langchain-text-splitters==0.3.4
langchain-chroma==0.1.4
chromadb==0.5.23
sentence-transformers==3.3.1
transformers==4.46.3
tokenizers==0.20.3
chroma-hnswlib==0.7.6